.hook__header {
  display: flex;
}

.hook__header-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-right: 5rem;
}

.hook__header-content h1 {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 62px;
  line-height: 75px;
  letter-spacing: -0.04em;
}

.hook__header-content p {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  color: var(--color-text);
  margin-top: 1.5rem;
}

.hook__header-content__input {
  width: 100%;
  margin: 2rem 0 1rem;
  display: flex;
}

.hook__header-content__input input {
  flex: 2;
  width: 100%;
  min-height: 50px;
  font-family: var(--font-family);
  font-size: 20px;
  line-height: 27px;
  background: var(--color-footer);
  border: 2px solid var(--color-footer);
  padding: 0 1rem;
  border-radius: 5px 0px 0px 5px;
  color: #fff;
  outline: none;
}

.hook__header-content__input button {
  flex: 0.6;
  width: 100%;
  min-height: 50px;
  border: none;
  font-family: var(--font-family);
  font-size: 20px;
  line-height: 27px;
  background: #ff4820;
  border-radius: 0px 5px 5px 0px;
  cursor: pointer;
  font-style: normal;
  font-weight: bold;
  outline: none;
  color: #ffffff;
  padding: 0 1rem;
  white-space:nowrap;
}

.hook__header-content__people p {
  margin: 0 1rem;
  font-family: var(--font-family);
  color: #fff;
  font-weight: 500;
  font-size: 12px;
  line-height: 38px;
  text-align: center;
}

.hook__header-content__people {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 1rem 0;
}

.hook__header-content__people img {
  width: 181.79px;
  height: 38px;
}

.hook__header-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hook__header-image img {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 1300px) {
  .hook__header-content__people img {
    display: none;
  }
  .hook__header-content__people p {
    margin: 0;
  }
}

@media screen and (max-width: 1050px) {
  .hook__header {
    flex-direction: column;
  }

  .hook__header-content {
    margin: 0 0 3rem;
  }

  .hook__header-content h1 {
    text-align: center;
  }

  .hook__header-content p {
    text-align: center;
  }

  .hook__header-content__people img {
    display: flex;
  }
  .hook__header-content__people p {
    margin: 0 1rem;
  }
  .hook__header-content__people {
    justify-content: center;
  }
}

@media screen and (max-width: 650px) {
  .hook__header h1 {
    font-size: 48px;
    line-height: 60px;
  }

  .hook__header p {
    font-size: 16px;
    line-height: 24px;
  }

  .hook__header-content__people {
    flex-direction: column;
  }

  .hook__header-content__people p {
    margin: 1rem 0;
  }

  .hook__header-content__input input,
  .hook__header-content__input button {
    font-size: 16px;
    line-height: 24px;
  }
}

@media screen and (max-width: 490px) {
  .hook__header h1 {
    font-size: 36px;
    line-height: 48px;
  }

  .hook__header p {
    font-size: 14px;
    line-height: 24px;
  }

  .hook__header-content__input input,
  .hook__header-content__input button {
    font-size: 12px;
    line-height: 16px;
  }
}
